Redirect 301 /~murray/code/swendsen_wang/checkcoalesceswendsenwang.m /~murray/code/swendsen_wang/orig/checkcoalesceswendsenwang.m
Redirect 301 /~murray/code/swendsen_wang/INFO /~murray/code/swendsen_wang/orig/INFO
Redirect 301 /~murray/code/swendsen_wang/swendsenwang.m /~murray/code/swendsen_wang/orig/swendsenwang.m
Redirect 301 /~murray/code/swendsen_wang/tri.pdf /~murray/code/swendsen_wang/orig/tri.pdf
Redirect 301 /~murray/code/swendsen_wang/tri_zero.pdf /~murray/code/swendsen_wang/orig/tri_zero.pdf
